body{
  height:2000px;
  background:url("/src/images/png/bg.png")no-repeat;
  background-size:100% 100%!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
